<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultasAdmin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MultasAdmin.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/images/logo.png" width="25%" alt="Logo" />
                </div>
                <div class="col-md-8">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                            <ul class="navbar-nav">
                                @if (Context.Session.GetString("JWT") == null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                    <!-- New menu items -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownBoletos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Boletos
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownBoletos">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Boletos" asp-action="Create">Nuevo Boleto</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Boletos" asp-action="Index">Listado de Boletos</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownPolicias" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Policias
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownPolicias">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Policias" asp-action="Create">Nuevo Policia</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Policias" asp-action="Index">Listado de Policias</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownLogins" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Logins
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogins">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Logins" asp-action="Create">Nuevo Login</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Logins" asp-action="Index">Listado de Logins</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownConductores" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Conductores
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownConductores">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Conductores" asp-action="Create">Nuevo Conductor</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Conductores" asp-action="Index">Listado de Conductores</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownVehiculos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Vehiculos
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownVehiculos">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Vehiculos" asp-action="Create">Nuevo Vehiculo</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Vehiculos" asp-action="Index">Listado de Vehiculos</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MultasAdmin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>