@model MultasAdmin.Models.Boleto

@{
    ViewData["Title"] = "Create Boleto";
}

<h1>Create Boleto</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Rec">Rec:</label>
        <input class="form-control" asp-for="Rec" />
        <span asp-validation-for="Rec" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumBoleto">NumBoleto:</label>
        <input class="form-control" asp-for="NumBoleto" />
        <span asp-validation-for="NumBoleto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DeviceName">DeviceName:</label>
        <input class="form-control" asp-for="DeviceName" />
        <span asp-validation-for="DeviceName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fecha">Fecha:</label>
        <input class="form-control" asp-for="Fecha" />
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Hora">Hora:</label>
        <input class="form-control" asp-for="Hora" />
        <span asp-validation-for="Hora" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Municipio">Municipio:</label>
        <input class="form-control" asp-for="Municipio" />
        <span asp-validation-for="Municipio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tablilla">Tablilla:</label>
        <input class="form-control" asp-for="Tablilla" />
        <span asp-validation-for="Tablilla" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CMag">CMag:</label>
        <input class="form-control" asp-for="CMag" />
        <span asp-validation-for="CMag" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cap">Cap:</label>
        <input class="form-control" asp-for="Cap" />
        <span asp-validation-for="Cap" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Articulo">Articulo:</label>
        <input class="form-control" asp-for="Articulo" />
        <span asp-validation-for="Articulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CDtop">CDtop:</label>
        <input class="form-control" asp-for="CDtop" />
        <span asp-validation-for="CDtop" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Multa">Multa        :</label>
        <input class="form-control" asp-for="Multa" />
        <span asp-validation-for="Multa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Licencia">Licencia:</label>
        <input class="form-control" asp-for="Licencia" />
        <span asp-validation-for="Licencia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Falta">Falta:</label>
        <input class="form-control" asp-for="Falta" />
        <span asp-validation-for="Falta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sector">Sector:</label>
        <input class="form-control" asp-for="Sector" />
        <span asp-validation-for="Sector" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lugar">Lugar:</label>
        <input class="form-control" asp-for="Lugar" />
        <span asp-validation-for="Lugar" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LugarDesc">LugarDesc:</label>
        <input class="form-control" asp-for="LugarDesc" />
        <span asp-validation-for="LugarDesc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CoordenadasX">CoordenadasX:</label>
        <input class="form-control" asp-for="CoordenadasX" />
        <span asp-validation-for="CoordenadasX" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CoordenadasY">CoordenadasY:</label>
        <input class="form-control" asp-for="CoordenadasY" />
        <span asp-validation-for="CoordenadasY" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Radar">Radar:</label>
        <input class="form-control" asp-for="Radar" />
        <span asp-validation-for="Radar" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Agente">Agente:</label>
        <input class="form-control" asp-for="Agente" />
        <span asp-validation-for="Agente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Placa">Placa:</label>
        <input class="form-control" asp-for="Placa" />
        <span asp-validation-for="Placa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Supervisor">Supervisor:</label>
        <input class="form-control" asp-for="Supervisor" />
        <span asp-validation-for="Supervisor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Distrito">Distrito:</label>
        <input class="form-control" asp-for="Distrito" />
        <span asp-validation-for="Distrito" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Puntos">Puntos:</label>
        <input class="form-control" asp-for="Puntos" />
        <span asp-validation-for="Puntos" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CodigoMultasAdm">CodigoMultasAdm:</label>
        <input class="form-control" asp-for="CodigoMultasAdm" />
        <span asp-validation-for="CodigoMultasAdm" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserLoginName">UserLoginName:</label>
        <input class="form-control" asp-for="UserLoginName" />
        <span asp-validation-for="UserLoginName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserFullName">UserFullName:</label>
        <input class="form-control" asp-for="UserFullName" />
        <span asp-validation-for="UserFullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastUpdateDate">LastUpdateDate:</label>
        <input class="form-control" asp-for="LastUpdateDate" />
        <span asp-validation-for="LastUpdateDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EnviadoDTOP">EnviadoDTOP:</label>
        <input class="form-control" asp-for="EnviadoDTOP" />
        <span asp-validation-for="EnviadoDTOP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FechaEnviado">FechaEnviado:</label>
        <input class="form-control" asp-for="FechaEnviado" />
        <span asp-validation-for="FechaEnviado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VehiculoId">VehiculoId:</label>
        <input class="form-control" asp-for="VehiculoId" />
        <span asp-validation-for="VehiculoId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConductorId">ConductorId:</label>
        <input class="form-control" asp-for="ConductorId" />
        <span asp-validation-for="ConductorId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PoliciaId">PoliciaId:</label>
        <input class="form-control" asp-for="PoliciaId" />
        <span asp-validation-for="PoliciaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("ValidationScriptsPartial");
    }
}