@model MultasAdmin.Models.Policia

@{
    ViewData["Title"] = "Create Policia";
}

<h1>Create Policia</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Rec">Rec:</label>
        <input class="form-control" asp-for="Rec" />
        <span asp-validation-for="Rec" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nombre">Nombre:</label>
        <input class="form-control" asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Placa">Placa:</label>
        <input class="form-control" asp-for="Placa" />
        <span asp-validation-for="Placa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Supervisor">Supervisor:</label>
        <input class="form-control" asp-for="Supervisor" />
        <span asp-validation-for="Supervisor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Activo">Activo:</label>
        <input class="form-control" type="checkbox" asp-for="Activo" />
        <span asp-validation-for="Activo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Unidad">Unidad:</label>
        <input class="form-control" asp-for="Unidad" />
        <span asp-validation-for="Unidad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
